*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

.about-us {
  padding: 9rem 0 10rem 0;
  overflow: hidden;
}
.about-us__text {
  text-align: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto 10rem auto;
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.7;
}
.about-us__pictures {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .about-us__pictures {
    flex-wrap: wrap;
  }
}
.about-us__item {
  position: relative;
  background-color: #95e1d3;
  width: 31%;
  z-index: 10;
}
@media only screen and (max-width: 56.25em) {
  .about-us__item {
    width: 60%;
    margin: 0 auto;
  }
  .about-us__item:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.about-us__item:hover .about-us__picture .about-us__img {
  opacity: 0.1;
}
.about-us__item:hover .about-us__picture, .about-us__item:hover .about-us__overlay .about-us__overlay-content {
  transform: translate(-1rem, -1rem);
}
.about-us__item:hover .about-us__overlay .about-us__overlay-content {
  visibility: visible;
}
.about-us__picture {
  background: linear-gradient(to bottom, #e78382, #f0d78a);
  transition: all 0.3s;
}
.about-us__img {
  width: 100%;
  display: block;
  z-index: -1;
  transition: opacity 0.3s linear;
}
.about-us__overlay {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to bottom, rgba(231, 131, 130, 0.9), rgba(240, 215, 138, 0.9));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.about-us__overlay-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.3s;
  color: #fff;
}
.about-us__overlay-content > * {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.about-us__overlay-content > i {
  display: block;
}

.blog {
  padding: 10.5rem 0;
  overflow: hidden;
}
.blog__content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.blog__item {
  flex: 0 0 31.6%;
  display: flex;
  flex-direction: column;
}
.blog__picture {
  width: 100%;
  position: relative;
}
.blog__img {
  width: 100%;
}
.blog__date {
  position: absolute;
  z-index: 100;
  left: -1rem;
  bottom: 3rem;
  text-align: center;
  color: #fff;
  background-color: #b5eae0;
  padding: 1.2rem 1.5rem;
}
.blog__number {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.blog__month {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.blog__text-field {
  padding: 1.8rem 0 2.2rem 0;
  border-bottom: 1px solid #9f9f9f;
}
.blog__head {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.blog__text {
  font-size: 1.5rem;
  color: #9f9f9f;
}
.blog__stats {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}
.blog__stats-left > i {
  color: #b5eae0;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.blog__stats-left > span {
  color: #9f9f9f;
  font-size: 1.5rem;
}
.blog__stats-right > i {
  color: #b5eae0;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.blog__stats-right > span {
  color: #9f9f9f;
  font-size: 1.5rem;
}

.clients {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}
.clients::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  background: url("../img/clients/bg.png") no-repeat center;
  opacity: 0.2;
  z-index: -1;
}
.clients__title-box {
  margin-bottom: 7.5rem;
  padding-top: 7.5rem;
}
.clients__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12rem;
}
.clients__row {
  display: flex;
  flex-direction: row;
  gap: 7.8rem;
}
.clients__row:not(:last-child) {
  margin-bottom: 7rem;
}
.clients__item {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.clients__picture {
  width: 100%;
}
.clients__img {
  width: 100%;
}
.clients__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.clients__name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.clients__position {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  position: relative;
}
.clients__position::after {
  content: "";
  width: 6rem;
  height: 3px;
  background-color: #e78382;
  position: absolute;
  bottom: -2rem;
  left: 0;
}
.clients__text {
  margin-top: 2rem;
  color: #999;
  font-size: 1.5rem;
}

.devices {
  background-size: cover;
  background: url("../img/devices/bg.png") no-repeat center;
  position: relative;
  height: 85rem;
  width: 100%;
}
.devices__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.devices__title-box {
  padding-top: 10.5rem;
}
.devices__items {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
}
.devices__tablet {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, 0);
}
.devices__iphone {
  position: absolute;
  bottom: -10.5rem;
  right: 20rem;
  z-index: 25;
}
.footer {
  background-color: #f8f8f8;
  color: black;
}
.footer__main {
  display: flex;
  padding: 7.7rem 0 7rem;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
@media only screen and (max-width: 75em) {
  .footer__main {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
.footer__mogo {
  max-width: 37.5%;
  width: 100%;
}
.footer__mogo-logo {
  font-size: 4.6rem;
  font-weight: 700;
  color: #ccc;
  margin-bottom: 4rem;
}
.footer__mogo-text {
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: #ccc;
}
.footer__mogo-followers {
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1.75rem;
}
.footer__mogo-count {
  font-weight: 700;
  font-size: 1.5rem;
}
.footer__mogo-followers-text {
  font-size: 1.4rem;
}
.footer__mogo-follow-us {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}
.footer__mogo-follows-us-text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.footer__mogo-icons {
  font-size: 1.5rem;
  color: #b5eae0;
}
.footer__mogo-form {
  display: flex;
}
.footer__mogo-input {
  padding: 1.4rem;
  margin: 0;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  border: 1px solid #ccc;
  color: black;
  flex-basis: 23rem;
}
.footer__mogo-input:focus {
  outline: none;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
.footer__mogo-input::placeholder {
  font-size: inherit;
  color: #ccc;
}
.footer__mogo-button {
  margin: 0;
  cursor: pointer;
  padding: 1.4rem 3.2rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #b5eae0;
  border: 1px solid #ccc;
  text-transform: uppercase;
}
.footer__mogo-button:hover {
  background-color: #8ddfcf;
}
.footer__header-secondary {
  font-size: 1.4rem;
  margin-bottom: 4rem;
}
.footer__blogs {
  width: 30%;
}
.footer__blogs-item {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer__blogs-picture {
  width: 100%;
}
.footer__blogs-img {
  width: 100%;
  height: 8rem;
}
.footer__blogs-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.footer__blogs-date {
  color: #ccc;
  margin-top: 5px;
}
.footer__instagram {
  width: 23%;
  display: flex;
  flex-direction: column;
}
.footer__instagram-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer__instagram-row {
  display: flex;
  gap: 3px;
}
.footer__instagram-img {
  display: block;
}
.footer__instagram-text:link, .footer__instagram-text:visited {
  padding-top: 2rem;
  color: #e78382;
  text-decoration: none;
  transition: all 0.2s;
}
.footer__instagram-text:hover {
  text-decoration: underline #e78382 solid 1px;
}
.footer__legal {
  padding: 3rem;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
.footer__legal-text {
  font-size: inherit;
}
.footer__legal-author {
  text-decoration: none;
  color: #e78382;
  cursor: pointer;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(231, 131, 130, 0.9), rgba(240, 215, 138, 0.9)), url("../img/mogo-main.png") no-repeat center;
  background-size: cover;
  padding: 2.7rem 0 0 0;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 2.7rem);
}
.header__head {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
.header__nav {
  color: #fff;
}
@media only screen and (max-width: 62.5em) {
  .header__nav {
    display: none;
  }
}
.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.header__item {
  display: inline-block;
}
.header__link:link, .header__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 4.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.8rem;
}
.header__link:not(:last-child) {
  margin-right: 0;
}
.header__link.active, .header__link:hover {
  border-bottom: 3px solid #f0d78a;
}
.header__body {
  margin: 10rem auto 0 auto;
  color: #fff;
  text-align: center;
}
.header__subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 7.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.header__title {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 12rem;
}
.header__title::after {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__btn:link, .header__btn:visited {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 1rem 2.8rem;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.5s;
  display: inline-block;
}
.header__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}
.header__btn:active {
  transform: translateY(1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.header__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}
.header__bottom-item {
  flex: 0 1 25%;
  border-top: 4px solid #fff;
  padding: 2.5rem 0 2.5rem 0;
  color: #fff;
  position: relative;
}
.header__bottom-item:not(:last-child) {
  margin-right: 3rem;
}
.header__bottom-item.active::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 25%;
  height: 4px;
  background-color: #e78382;
  top: -4px;
  left: 0;
}
.header__bottom-span {
  font-size: 2.4rem;
  font-weight: 700;
}
.header__bottom-text {
  display: inline-block;
  font-weight: 400;
  margin-left: 0.75rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.icons {
  background-color: #ccc;
  padding: 6.5rem 0;
}
.icons__img {
  width: 100%;
}

.map {
  width: 100%;
  padding: 5rem 0;
  position: relative;
}
.map::before {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-size: cover;
  background: url("../img/map/bg.png") no-repeat center;
  opacity: 0.2;
  z-index: -1;
}
.map__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #e78382;
  font-size: 2.4rem;
}
.map__heading {
  font-size: inherit;
  position: relative;
}
.map__heading::after {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 3px;
  background-color: #e78382;
  position: absolute;
  left: 50%;
  top: 5rem;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 62.5em) {
  .navigation {
    display: none;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  top: 6rem;
  right: 6rem;
  position: fixed;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    height: 5rem;
    width: 5rem;
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  background-image: radial-gradient(#e78382, #f0d78a);
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  transition: transform 0.5s;
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    width: 4rem;
    height: 4rem;
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #e78382;
  transform: translateX(1rem);
}
.navigation__link span {
  display: inline-block;
  margin-right: 1rem;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__icon {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #ccc;
  display: inline-block;
  transition: all 0.2s;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  bottom: -0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  bottom: -1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(45deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  bottom: 0;
  transform: rotate(135deg);
}

.services {
  padding: 10.5rem 0;
}
.services__inner {
  display: flex;
  flex-direction: column;
}
.services__row {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.services__row:not(:last-child) {
  padding-bottom: 5rem;
  border-bottom: 1px solid #e5e5e5;
}
.services__item {
  display: flex;
  justify-content: space-between;
  width: 31%;
  gap: 2.4rem;
}
.services__picture {
  max-width: 3.3rem;
  width: 100%;
}
.services__img {
  width: 100%;
}
.services__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.services__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
}
.services__text {
  color: #9f9f9f;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.slider {
  width: 100%;
  background-color: #f8f8f8;
}
.slider--white {
  background-color: #fff;
}
.slider__inner {
  display: flex;
  padding: 6.6rem 10.5rem;
  width: 81%;
  margin: 0 auto;
  position: relative;
}
.slider__arrow {
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
}
.slider__arrow--left {
  left: 2.3rem;
  transform: rotate(-135deg);
}
.slider__arrow--right {
  right: 2.3rem;
  transform: rotate(45deg);
}
.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.slider__picture {
  border: 3px solid #95e1d3;
  display: inline-block;
  padding: 4rem;
}
.slider__picture--new-image {
  border: none;
  padding: 0;
  border-radius: 50%;
}
.slider__item {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  justify-content: space-between;
}
.slider__quote {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  color: #999;
}
.slider__author {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
}
.slider__author::before {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 4px;
  background-color: #e78382;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.statistics {
  background-color: #95e1d3;
}
.statistics__inner {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
@media only screen and (max-width: 56.25em) {
  .statistics__inner {
    flex-wrap: wrap;
  }
}
.statistics__item {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.7rem 3.5rem;
  border-left: 1px solid #b5eae0;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  .statistics__item {
    flex-basis: 100%;
    border-left: none;
  }
  .statistics__item:not(:last-child) {
    border-bottom: 1px solid #b5eae0;
  }
}
.statistics__item:last-child {
  border-right: 1px solid #b5eae0;
}
@media only screen and (max-width: 56.25em) {
  .statistics__item:last-child {
    border-right: 0;
  }
}
.statistics__count {
  font-weight: 700;
  font-size: 7.2rem;
  margin-bottom: 2rem;
}
.statistics__text {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.team {
  padding: 10rem 0;
}
.team__text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  text-align: center;
  width: 80%;
  margin: 0 auto 8.3rem;
}
.team__row {
  display: flex;
  justify-content: space-between;
}
.team__item {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.team__person {
  position: relative;
  background-color: #95e1d3;
}
.team__person:hover .team__picture .team__img {
  opacity: 0.1;
}
.team__picture {
  background: linear-gradient(to bottom, #e78382, #f0d78a);
  transition: all 0.3s linear;
}
.team__img {
  width: 100%;
  display: block;
  z-index: -1;
  transition: opacity 0.3s linear;
}
.team__person:hover .team__picture, .team__person:hover .team__overlay .team__icons {
  transform: translate(-1rem, -1rem);
}
.team__person:hover .team__overlay .team__icons {
  visibility: visible;
}
.team__overlay {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(to bottom, rgba(231, 131, 130, 0.9), rgba(240, 215, 138, 0.9));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.team__icons {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.3s;
  color: #fff;
}
.team__icon {
  color: #e78382;
  padding: 1.5rem;
  background-color: #f0d78a;
  font-size: 2rem;
  cursor: pointer;
}
.team__icon:hover {
  color: #fff;
  background-color: #e78382;
}
.team__sub-info {
  text-align: center;
}
.team__name {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
}
.team__profession {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #e5e5e5;
}

.title-box {
  text-align: center;
  margin-bottom: 9rem;
  position: relative;
}
.title-box__subtitle {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
}
.title-box__title {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}
.title-box::after {
  content: "";
  display: inline-block;
  width: 6rem;
  height: 3px;
  background-color: #e78382;
  position: absolute;
  left: 50%;
  bottom: -4.5rem;
  transform: translate(-50%, -50%);
}

.what-we-do {
  padding: 12rem 0 10rem 0;
}
.what-we-do__inner {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}
.what-we-do__text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.what-we-do__content {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.what-we-do__picture {
  flex: 0 1 49%;
}
.what-we-do__picture * > img {
  max-width: 57rem;
  width: 100%;
  height: auto;
}
.what-we-do__item-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #9f9f9f;
}
.what-we-do__item-main-left {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 1.4rem;
}
.what-we-do__item-main-left > p {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.what-we-do__item-main-right {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  right: 2rem;
  top: 1.5rem;
  cursor: pointer;
}
.what-we-do__item-main-right::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-top: 3px solid #9f9f9f;
  border-right: 3px solid #9f9f9f;
  position: absolute;
  top: 50%;
  transform: rotate(135deg);
}
.what-we-do__item-main-right.active::after {
  transform: rotate(-45deg);
}
.what-we-do__item-text {
  border: 1px solid #9f9f9f;
  border-top: none;
  padding: 2rem;
  font-weight: 400;
}
.what-we-do__item-text:not(.active) {
  display: none;
}

.work {
  padding: 11.3rem 0 0 0;
}
.work__inner {
  width: 100%;
}
.work__text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #9f9f9f;
  text-align: center;
  width: 80%;
  margin: 0 auto 8.3rem;
}
.work__row {
  display: flex;
  flex-direction: row;
}
.work__column {
  max-width: 25%;
  width: 100%;
}
.work__item {
  position: relative;
  background: linear-gradient(to bottom, #e78382, #f0d78a);
}
.work__item:hover .work__picture .work__img {
  opacity: 0.1;
}
.work__item:hover .work__overlay {
  visibility: visible;
}
.work__picture {
  width: 100%;
}
.work__img {
  width: 100%;
  display: block;
}
.work__overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  visibility: hidden;
  transition: visibility 0.1s linear;
}
.work__overlay-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.work__overlay-content > i {
  font-size: 3rem;
}
.work__overlay-head {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.work__overlay-text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=main.css.map */
