$font-main: "Montserrat", sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-cursive: 'Kaushan Script', cursive;

$color-primary-1: #e78382;
$color-primary-2: #f0d78a;
$color-light-blue: #95e1d3;
$color-light-blue-2: #b5eae0;

$color-white: #fff;
$color-grey-1: #9f9f9f;
$color-grey-2: #e5e5e5;
$color-grey-3: #b3b3b3;
$color-grey-4: #f8f8f8;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-main;
  font-weight: 400;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

//===========================================
// HEADER
.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom,
      rgba($color-primary-1, 0.9),
      rgba($color-primary-2, 0.9)),
  url("../img/mogo-main.png") no-repeat center;
  background-size: cover;
  padding: 2.7rem 0 0 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 2.7rem);
  }

  // ==============================================
  // HEADER HEAD
  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    color: $color-white;
    font-size: 3rem;
    font-weight: 700;
  }

  &__nav {
    color: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    &:link, &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      margin-right: 4.5rem;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 400;
      padding-bottom: .8rem;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &__link.active, &__link:hover {
    border-bottom: 3px solid $color-primary-2;
  }

  //============================================
  // HEADER BODY
  &__body {
    margin: 10rem auto 0 auto;
    color: $color-white;
    text-align: center;
  }

  &__subtitle {
    font-family: $font-cursive;
    font-size: 7.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 10rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 12rem;
  }

  &__title::after {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 3px;
    background-color: $color-white;
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__btn {
    &:link, &:visited {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      border: 3px solid $color-white;
      padding: 1rem 2.8rem;
      font-weight: 700;
      font-size: 1.4rem;
      transition: all .5s;
      display: inline-block;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  //===============================================
  // HEADER FOOTER
  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
  }

  &__bottom-item {
    flex: 0 1 25%;
    border-top: 4px solid $color-white;
    padding: 2.5rem 0 2.5rem 0;
    color: $color-white;
    position: relative;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__bottom-item.active::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25%;
    height: 4px;
    background-color: $color-primary-1;
    top: -4px;
    left: 0;
  }

  &__bottom-span {
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__bottom-text {
    display: inline-block;
    font-weight: 400;
    margin-left: .75rem;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

// ==============================================
// ABOUT US SECTION
.about-us {
  padding: 9rem 0 10rem 0;
  overflow: hidden;

  &__content {
  }

  &__text {
    text-align: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto 10rem auto;
    color: $color-grey-1;
    font-family: $font-secondary;
    font-size: 1.5rem;
    line-height: 1.7;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    background-color: $color-light-blue;
    width: 31%;
    z-index: 10;
  }

  &__item:hover &__picture &__img {
    opacity: .1;
  }

  &__item:hover &__picture,
  &__item:hover &__overlay &__overlay-content {
    transform: translate(-1rem, -1rem);
  }

  &__item:hover &__overlay &__overlay-content {
    visibility: visible;
  }

  &__picture {
    background: linear-gradient(to bottom,
        $color-primary-1,
        $color-primary-2);
    transition: all .3s;
  }

  &__img {
    width: 100%;
    display: block;
    z-index: -1;
    transition: opacity .3s linear;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom,
        rgba($color-primary-1, 0.9),
        rgba($color-primary-2, 0.9));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  &__overlay-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all .3s;
    color: $color-white;

    & > * {
      font-weight: 700;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    & > i {
      display: block;
    }
  }
}

// ==========================================
// TITLE BOX
.title-box {
  text-align: center;
  margin-bottom: 9rem;
  position: relative;

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: $font-cursive;
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 3px;
    background-color: $color-primary-1;
    position: absolute;
    left: 50%;
    bottom: -4.5rem;
    transform: translate(-50%, -50%);
  }
}

// ==============================================
// STATISTICS
.statistics {
  background-color: $color-light-blue;

  &__inner {
    display: flex;
    justify-content: space-between;
    color: $color-white;
  }

  &__item {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.7rem 3.5rem;
    border-left: 1px solid $color-light-blue-2;
    text-align: center;

    &:last-child {
      border-right: 1px solid $color-light-blue-2;
    }
  }

  &__count {
    font-weight: 700;
    font-size: 7.2rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}

// ===============================================
// SERVICES
.services {
  padding: 10.5rem 0;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;

    &:not(:last-child) {
      padding-bottom: 5rem;
      border-bottom: 1px solid $color-grey-2;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 31%;
    gap: 2.4rem;
  }

  &__picture {
    max-width: 3.3rem;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__text {
    color: $color-grey-1;
    font-size: 1.5rem;
    font-family: $font-secondary;
    font-weight: 400;
  }
}

// ===============================================
// DEVICES
.devices {
  background-size: cover;
  background: url("../img/devices/bg.png") no-repeat center;
  position: relative;
  height: 85rem;
  width: 100%;

  &__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__title-box {
    padding-top: 10.5rem;
  }

  &__items {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
  }

  &__tablet {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, 0);
  }

  &__tablet-img {
  }

  &__iphone {
    position: absolute;
    bottom: -10.5rem;
    right: 20rem;
    z-index: 25;
  }

  &__iphone-img {
  }
}

// ==================================================
// WHAT WE DO
.what-we-do {
  padding: 12rem 0 10rem 0;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 8.5rem;
  }

  &__text {
    font-size: 1.5rem;
    font-family: $font-secondary;
    color: $color-grey-1;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  &__picture {
    flex: 0 1 49%;

    * > img {
      max-width: 57rem;
      width: 100%;
      height: auto;
    }
  }

  &__accordion {
  }

  &__item {
  }

  &__item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $color-grey-1;
  }

  &__item-main-left {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    padding: 1.4rem;

    & > p {
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
  }

  &__item-main-right {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    right: 2rem;
    top: 1.5rem;
    cursor: pointer;
  }

  &__item-main-right::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-top: 3px solid $color-grey-1;
    border-right: 3px solid $color-grey-1;
    position: absolute;
    top: 50%;
    transform: rotate(135deg);
  }

  &__item-main-right.active::after {
    transform: rotate(-45deg);
  }

  &__item-text {
    border: 1px solid $color-grey-1;
    border-top: none;
    padding: 2rem;
    font-weight: 400;

    &:not(.active) {
      display: none;
    }
  }


}

// ==================================================
// SLIDER
.slider {
  width: 100%;
  background-color: $color-grey-4;

  &--white {
    background-color: $color-white;
  }

  &__inner {
    display: flex;
    padding: 6.6rem 10.5rem;
    width: 81%;
    margin: 0 auto;
    position: relative;
  }

  &__arrow {
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;

    &--left {
      left: 2.3rem;
      transform: rotate(-135deg);
    }

    &--right {
      right: 2.3rem;
      transform: rotate(45deg);
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  &__picture {
    border: 3px solid $color-light-blue;
    display: inline-block;
    padding: 4rem;

    &--new-image {
      border: none;
      padding: 0;
      border-radius: 50%;
    }
  }

  &__img {
  }

  &__item {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    justify-content: space-between;
  }

  &__quote {
    font-family: $font-secondary;
    font-size: 2.4rem;
    color: #999;
  }

  &__author {
    font-family: $font-cursive;
    font-size: 2.4rem;
  }

  &__author::before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 4px;
    background-color: $color-primary-1;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }
}

// ==================================================
// TEAM
.team {
  padding: 10rem 0;

  &__inner {

  }

  &__text {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #9f9f9f;
    text-align: center;
    width: 80%;
    margin: 0 auto 8.3rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__person {
    position: relative;
    background-color: $color-light-blue;
  }

  &__person:hover &__picture &__img {
    opacity: .1;
  }

  &__picture {
    background: linear-gradient(to bottom,
        $color-primary-1,
        $color-primary-2);
    transition: all .3s linear;
  }

  &__img {
    width: 100%;
    display: block;
    z-index: -1;
    transition: opacity .3s linear;
  }

  &__person:hover &__picture,
  &__person:hover &__overlay &__icons {
    transform: translate(-1rem, -1rem);
  }

  &__person:hover &__overlay &__icons {
    visibility: visible;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to bottom,
        rgba($color-primary-1, 0.9),
        rgba($color-primary-2, 0.9));
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }

  &__icons {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: all .3s;
    color: $color-white;
  }

  &__icon {
    color: $color-primary-1;
    padding: 1.5rem;
    background-color: $color-primary-2;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      color: $color-white;
      background-color: $color-primary-1;
    }
  }

  &__sub-info {
    text-align: center;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__profession {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: $color-grey-2;
  }
}

// ==================================================
// ICONS
.icons {
  background-color: #ccc;
  padding: 6.5rem 0;

  &__inner {
  }

  &__img {
    width: 100%;
  }
}

// ==================================================
// WORK
.work {
  padding: 11.3rem 0 0 0;

  &__inner {
    width: 100%;
  }

  &__text {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #9f9f9f;
    text-align: center;
    width: 80%;
    margin: 0 auto 8.3rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    max-width: 25%;
    width: 100%;
  }

  &__item {
    position: relative;
    background: linear-gradient(to bottom,
        $color-primary-1,
        $color-primary-2);
  }

  &__item:hover &__picture &__img {
    opacity: .1;
  }

  &__item:hover &__overlay {
    visibility: visible;
  }

  &__picture {
    width: 100%;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-align: center;
    visibility: hidden;
    transition: visibility .1s linear;
  }

  &__overlay-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > i {
      font-size: 3rem;
    }
  }

  &__overlay-head {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__overlay-text {
    font-size: 1.5rem;
    font-family: $font-secondary;
  }
}

// ==================================================
// CLIENTS
.clients {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-size: cover;
    background: url("../img/clients/bg.png") no-repeat center;
    opacity: .2;
    z-index: -1;
  }

  &__title-box {
    margin-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12rem;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 7.8rem;
    &:not(:last-child) {
      margin-bottom: 7rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 3rem
  }

  &__picture {
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__position {
    font-size: 1.5rem;
    font-family: $font-secondary;
    display: inline-block;
    position: relative;
  }

  &__position::after {
    content: "";
    width: 6rem;
    height: 3px;
    background-color: $color-primary-1;
    position: absolute;
    bottom: -2rem;
    left: 0;
  }

  &__text {
    margin-top: 2rem;
    color: #999;
    font-size: 1.5rem;
  }
}

// ==================================================
// BLOG
.blog {
  padding: 10.5rem 0;
  overflow: hidden;

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  &__item {
    flex: 0 0 31.6%;
    display: flex;
    flex-direction: column;

  }

  &__picture {
    width: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__date {
    position: absolute;
    z-index: 100;
    left: -1rem;
    bottom: 3rem;
    text-align: center;
    color: $color-white;
    background-color: $color-light-blue-2;
    padding: 1.2rem 1.5rem;
  }

  &__number {
    display: block;
    font-family: $font-main;
    font-size: 3rem;
    font-weight: 700;
  }

  &__month {
    font-family: $font-secondary;
    font-size: 1.5rem;
  }

  &__text-field {
    padding: 1.8rem 0 2.2rem 0;
    border-bottom: 1px solid $color-grey-1;
  }

  &__head {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.5rem;
    color: $color-grey-1;
  }

  &__stats {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
  }

  &__stats-left {
    & > i {
      color: $color-light-blue-2;
      font-size: 1.5rem;
      padding-right: .5rem;
    }
    & > span {
      color: $color-grey-1;
      font-size: 1.5rem;
    }
  }

  &__stats-right {
    & > i {
      color: $color-light-blue-2;
      font-size: 1.5rem;
      padding-right: .5rem;
    }

    & > span {
      color: $color-grey-1;
      font-size: 1.5rem;
    }
  }
}

// ==================================================
// MAP
.map {
  width: 100%;
  padding: 5rem 0;
  position: relative;

  &::before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-size: cover;
    background: url("../img/map/bg.png") no-repeat center;
    opacity: 0.2;
    z-index: -1;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: $color-primary-1;
    font-size: 2.4rem;
  }

  &__heading {
    font-size: inherit;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 6rem;
      height: 3px;
      background-color: $color-primary-1;
      position: absolute;
      left: 50%;
      top: 5rem;
      transform: translate(-50%, -50%);
    }
  }
}











