// ==================================================
// SLIDER
.slider {
  width: 100%;
  background-color: $color-grey-4;

  &--white {
    background-color: $color-white;
  }

  &__inner {
    display: flex;
    padding: 6.6rem 10.5rem;
    width: 81%;
    margin: 0 auto;
    position: relative;
  }

  &__arrow {
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    top: 50%;

    &--left {
      left: 2.3rem;
      transform: rotate(-135deg);
    }

    &--right {
      right: 2.3rem;
      transform: rotate(45deg);
    }

    @media only screen and (max-width: $breakpoint-medium) {
      display: none;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    @media only screen and (max-width: $breakpoint-medium) {
      flex-direction: column;
    }
  }

  &__picture {
    border: 3px solid $color-light-blue;
    display: inline-block;
    padding: 4rem;

    &--new-image {
      border: none;
      padding: 0;
      border-radius: 50%;
    }
  }

  &__img {
  }

  &__item {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    justify-content: space-between;
  }

  &__quote {
    font-family: $font-secondary;
    font-size: 2.4rem;
    color: #999;
  }

  &__author {
    font-family: $font-cursive;
    font-size: 2.4rem;
  }

  &__author::before {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 4px;
    background-color: $color-primary-1;
    margin-bottom: .5rem;
    margin-right: .5rem;
  }
}