// ==========================================
// TITLE BOX
.title-box {
  text-align: center;
  margin-bottom: 9rem;
  position: relative;

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    font-family: $font-cursive;
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 6rem;
    height: 3px;
    background-color: $color-primary-1;
    position: absolute;
    left: 50%;
    bottom: -4.5rem;
    transform: translate(-50%, -50%);
  }
}